/Banco de dados/MySQLContainer/performance_schema/* linguist-vendored
/Banco de dados/MySQLContainer/sys/* linguist-vendored
/Banco de dados/MySQLContainer/mysql/* linguist-vendored

/Banco de dados/MySQLContainer/* linguist-vendored

*.frm linguist-detectable=false